---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <h1>
      Join to <span>Ask!</span>
    </h1>

    <h2>
      Ask, debate and share everything you feel!
    </h2>



    <form>
      <label for="">
        <input
          type="file"
          accept="image/*"
          id="avatar"
          name="avatar"
          
        >
      </label>

      <label for="">

      </label>
    </form>
  </section>
</Layout>