---
interface Props {
  error: any;
}

const { error } = Astro.props
---

<article
  class="error"
>
  <h2
  class="error__h2">
    Oh, an error ocurred!
  </h2>

  <p class="error__p">
    {error?.message}
  </p>
</article>

<style>
  .error {
    position: fixed;
    z-index: 90;
    max-width: 100px;
    width: 100%;
    min-height: 80px;
    border: 2px dashed red;
    background-color: rgba(255, 0, 0, .3);
    padding: var(--padding_boxes);
    color: white;
  }
  .error__h2 {
    
  }
  .error__p {}
</style>